.containertop{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 52px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding-left: 12px;
    padding-right: 12px;
}

.containervoltarB{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 42px;
    gap: 8px;
    align-items: center;
    justify-content:flex-start;
    padding-left: 8px;
    color: rgb(39, 39, 39);
    position: absolute;
    z-index: 100;
    top: 0px;
}

.containervoltarF{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 42px;
    gap: 8px;
    align-items: center;
    justify-content:flex-start;
    padding-left: 8px;
    color: rgb(39, 39, 39);
    position: absolute;
    z-index: 100;
    top: 0px;
}

.containervoltarF .backbanner{
    display: flex;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

.containervoltarF .backbanner button{
   width: auto;
   height: 30px;
}

.containervoltar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 42px;
    gap: 8px;
    align-items: center;
    justify-content:flex-start;
    padding-left: 8px;
    color: aliceblue;
    position: absolute;
    z-index: 100;
    top: 0px;
}

.containervoltar .backbanner{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
}


.btn-voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
}

.btn-voltar:hover{
    background-color: rgba(255, 255, 255, 0);
}

/* Remove qualquer borda ou efeito ao clicar no input */
.input-pesquisa:focus, 
.input-pesquisa:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.cont-bills-switch{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Estilo do botão de troca de tema */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    transition: .4s;
    background-color: #4d4d4d;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    border-radius: 50%;
    transition: .4s;
    background-color: #f3f3f3;
}

input:checked + .slider {
    background-color: #ffffff;
}

input:checked + .slider:before {
    background-color: #585858;
    transform: translateX(20px);
}

.cont-switch{
    display: flex;
    width: 'auto';
}



 