.containertop{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 52px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding-left: 12px;
    padding-right: 12px;
}

.containervoltar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 52px;
    gap: 8px;
    position: absolute;
    top: 0;
    z-index: 100;
    align-items: center;
    justify-content:flex-start;
    padding-left: 16px;
    background-color: rgba(250, 250, 250, 0);
    color: aliceblue;
}

.cont-voltar-fixo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 52px;
    gap: 32px;
    align-items: center;
    justify-content:space-between;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(31, 31, 31);
}

.cont-voltar-fixo .back{
    display: flex;
    align-items: center;
}

.btn-voltar{
    background-color: rgba(255, 255, 255, 0);
}
.btn-voltar:hover{
    background-color: rgba(255, 255, 255, 0);
}

/* Remove qualquer borda ou efeito ao clicar no input */
.input-pesquisa:focus, 
.input-pesquisa:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.cont-bills-switch{
    display: flex;
    width: auto;
    height: auto;
    justify-content: flex-end;
}

/* Estilo do botão de troca de tema */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    transition: .4s;
    background-color: #4d4d4d;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    border-radius: 50%;
    transition: .4s;
    background-color: #f3f3f3;
}

input:checked + .slider {
    background-color: #ffffff;
}

input:checked + .slider:before {
    background-color: #585858;
    transform: translateX(20px);
}




 